.card{
    /* background-color: red; */
    border: 1px solid #000;
    height: 10rem;
    width: 10rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: #000;
}

.card h2{
    font-weight: normal;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .card{
        height: 7rem;
        width: 7rem;
        
        
    }
    .card h2{
        font-size: 1rem;
    }

}


