.main{
    display: flex;
}

.aside{
    background-color: black;
    width: 20%;
}

.main_panel{
    /* background-color: blue; */
    padding: 1.5rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
}

.main_panel div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .main_panel{
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}