
.panel_landing{
    display: flex;
    gap: 2rem;
}

.panel_landing .first{
    width: 60%;
    margin: auto;
}

.panel_landing .second{
    width: 40%;
    padding: 2rem;
    margin: auto;
}

/* .navbar{
    background-color: #000;
} */

.navbar div{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.navbar a{
    text-decoration: none;
    color: #000;
}

.navbar .register{
    padding: .5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 1rem;
}

.first h1{
    font-size: 3rem;
}

.first h2{
    font-weight: normal;
    margin-bottom: 3rem;
}

.first a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: #E0115F;
    color: #fff;
    border-radius: .5rem;
}

@media (max-width:600px) {
    .panel_landing{
        flex-direction: column;
        gap: 0;
    }

    .panel_landing .second{
        order: -1;
        margin: auto;
        padding: 0;
        width: 20rem;
        height: 20rem;
    }

    .panel_landing .first{
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .panel_landing .first h1{
        font-size: 2rem;
        text-align: center;
    }
    
    .panel_landing .first h2{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .first a{
        font-size: 1rem;
        display: inline-block;
    }
}