:root{
  --primary-color: #007bff;
  --secondary-color: #ffc107;
}
/* GLOBAL STYLES */
.container{
  max-width: 70rem;
  padding: 0 .5rem;
  margin: 0 auto;
}

form{
  padding: 1rem;
  max-width: 35rem;
  margin: auto auto;
}

form div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

form div label{
  font-weight: bold;
}

form div input{
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 1px solid #000;
}

form div input:focus{
  outline: none;
}

form input[type="submit"]{
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  font-weight: bolder;
  background-color: #000;
  color: #fff;
}
